*{
    margin:0px;
    padding:0px;
}
#wrapper{
    width:100%;
    height:auto;
}
#header{
    width:100%;
    height:100px;
    display: flex;
    padding-top: 5px;
    clear: both;
background: linear-gradient(white, rgba(0,212,255,1) 100%);
}
#headerLeft{
    width:25%;
    height:100px;
}

#headerCenter{
    width:50%;
    height:100px;
    padding-top: 20px;
     font-size:20px;
     color:wheat;
}
#headerCenter h3{
    color: #ea3b3b;
    font-size: 23px;
}
#headerCenter p{
    color:black;
    font-size: 16px;
    margin-top: 6px;
}
#headerRight{
    width:25%;
    height:100px;
    text-align:center;
 }
 #headerRight .fa{
    font-size: 20px;
}
 #headerRight .fa-facebook{
     color:#5250e4 !important;
 }
 #headerRight .fa-twitter{
    color: #06355d !important;
 }
 #headerRight .fa-instagram{
    color: red !important;
 }
 #headerRight .fa-telegram{
    color: rgb(14, 68, 14)
 }
 #arrowup{
    position: fixed;
    bottom: 17px;
    background-color: grey;
    border: none;
    padding: px px;
    color: #eee;
    right: 48px;
    font-size: 25px;
    z-index: 1000;
    cursor: pointer;
}
 #headerLeft img{
    width: 97px;
    height: 94px;
    border-radius: 31px;
    margin-right: 121px;
 }
 #rightLogo{
     list-style:none;
     display: flex;
     font-size:35px;
     padding-left:70px;
     letter-spacing:20px;
     margin-top: 7px;
 }
 #headerContactInfo{
     list-style: none;
 }
 #headerContactInfo .fa{
    font-size: 20px;
    color:darkmagenta;
}
#menu{
    width:100%;
    height:35px;
    background-color:rgb(78, 78, 62);
    clear: both;
}
#menu ul{
    list-style:none;
    display:flex;
}
#menu ul li{
    width:120px;
    height:35px;
    border-right:1px solid gray;
    line-height: 35px;
}
#menu ul li a{
    text-decoration:none;
    font-size:15px;
    text-transform:capitalize;
    display:block;
    color: #eeeeee;
}
#menu ul li a:hover{
    background-color:black;
    color:white;
    font-size:16px;
}
#bannerslider{
    width:100%;
    height:300px;
    background-color: darkred;
    clear: both;
}
#subBanner{
    height: 150px; 
    background-image: url(../image/sub-banner-1.jpg);
    color: #eae4e4;
    background-repeat: no-repeat;
    background-size: cover;
}
#subBanner img{
    width: 100px;
    height: 150px;
    
}
#subBanner h4{
    font-size: 20px;
    font-weight: 600;
    padding: 64px;
    text-transform: uppercase;
}
#content{
    width:100%;
    height:auto;
    min-height: 300px;
    overflow: hidden;
    padding: 10px 0px;
}
#content #contentRight{
    width:23%;
    height:410px;
    float:right;
    border: 2px solid red;
}
#latestUpdates{
    font-size:25px;
     text-transform: capitalize; 
     color: crimson;
      background-color: cyan;
}
#content #contentLeft{
    width:75%;
    height:410px;
    float: left;
    margin-left:5px;
}
#homeGallery{
    width: 100%;
    min-height: 200px;
    height: auto;
    margin-top: 10px;
    clear: both;
    padding-bottom: 30px;
}
#homeGallery img{
    width: 150px;
    height: 190px;
    float: left;
    margin: 5px 0px 10px 13px;
    border: 2px solid #b34646;
    box-shadow: 4px 4px 4px #3a3434;
}
    #galleryHub img {
        width: 150px;
        height: 200px;
        float: left;
        margin: 5px 0px 10px 13px;
        border: 2px solid #b34646;
        box-shadow: 4px 4px 4px #3a3434;
        }
        .view-all {
            background: gray;
            padding: 5px 10px;
            text-decoration: none;
            color: #eee;
            border-radius: 4px;
            position: relative;
            top: 13px;
        }
#LatestVideo{
    width:100%;
    height:auto;
    min-height: 200px;
    text-align: left;
    clear: both;

}
#LatestVideo iframe{
    width: 323px;
    height: 255px;
    text-align: left;
    margin-left: 9px;
    margin-top: 10px;
}
#footer{
    width:100%;
    height:250px;
    display: flex;
    padding-top: 10px;
    background:linear-gradient(to bottom, #000000 -81%,#091138 56%);
    clear: both;
}
#footer ul{
    list-style: none;
}
#footer ul li{
    font-size: 17px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5px;
}
#footer ul li a{
    color: #ffffff;
}
#footer .footerHeading{
    font-size: 22px;
    text-align: left;
    text-transform: capitalize;
    color: brown;
    margin-bottom: 10px;
    text-decoration: underline;
}
#footerLeft{
    width:25%;
    height:150px;
    padding-left: 10px;
}
#footerCenter{
    width:25%;
    height:150px;
}
#footerRight{
    width:25%;
    height:150px;
}
#footerFour{
    width:25%;
    height:150px;
    text-align: left;
    color: rgb(248, 246, 246);
    font-size: 17px;
}
#registrationForm{
    height: auto;
    width: 40%;
    background: #eee;
    padding: 10px;
    border: 2px solid red;
}
#gallery1{
    width: 100%;
    min-height: 200px;
    height: auto;
    margin-top: 10px;
    clear: both;
}
#gallery1 img{
    width: 150px;
    height: 100px;
    float: left;
    margin: 5px 0px 10px 13px;
    border: 2px solid #b34646;
    box-shadow: 4px 4px 4px #3a3434;
}
.loginPopup {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
    z-index: 1000000;
    display: none;
    
}

#loginForm{
    width: 30%;
    min-height: 200px;
    height: auto;
    background-color: #eeeeee;
    border: 2px solid #b34646;
    margin: 100px 0px 100px 0px;
    padding: 0px 0px 0px 28px;
    position: absolute;
    left: 35%;
}
#loginForm .popup-close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}
#loginForm form{
    width: 90%;
}
#loginForm form input{
    margin-bottom: 20px;
}
#loginForm h4{
    margin: 20px 0px;
    font-size: 20px;
    color: red;
}


#enquiryForm{
    width: 30%;
    min-height: 200px;
    height: auto;
    background-color: #eeeeee;
    border: 2px solid #b34646;
    margin: 100px 0px 100px 0px;
    padding: 0px 0px 0px 28px;
    position: absolute;
    left: 35%;
}
#enquiryForm .popup-close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}
#enquiryForm form{
    width: 90%;
}
#enquiryForm form input{
    margin-bottom: 20px;
}
#enquiryForm h4{
    margin: 20px 0px;
    font-size: 20px;
    color: red;
}



#preloader {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
    z-index: 1000000;
}
#preloader #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 45%;
    top: 40%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#loginPopupBtn {
    position: absolute;
    top: 10%;
    z-index: 100000;
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 242px;
}
#loginPopupBtn a {
    text-decoration: none;
    color: #eeeeee;
    padding: 5px 10px;
    background: red;
    position: absolute;
    border-radius: 10px;
    
}

#enquiryPopupBtn {
    position: ABSOLUTE;
    left: 231px;
    top:4%;
    z-index: 100000;
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
}
#enquiryPopupBtn a {
    text-decoration: none;
    color: #eeeeee;
    padding: 5px 10px;
    background: rgb(6, 68, 6);
    position: absolute;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform:uppercase;
   
}