
@media screen and (max-width:480px){
    #content #contentLeft{
       width: 100%; 
       overflow: auto;
    }
    #content #contentRight{
        width: 100%;
    }
    #headerRight #rightLogo{
        font-size: 16px;
        display: block;
        margin: 15px 0px 0px 34px;
        padding: 0px;
    }
    #headerRight #headerContactInfo{
        display: none;
    }
    #headerCenter h3{
        font-size: 15px;
        padding-left:28px;
    }
    #headerCenter p{
        font-size: 10px;
        padding-left:32px;
        margin-top:5px;
    }
    #menu{
        width: 100%;
        overflow: auto;
    }
    #menu ul {
        list-style: none;
        display: block;
        position: absolute;
        z-index: 1000;
        background: blueviolet;
        width: 100%;
    }
    #menu ul li{
        float: left;
        border-right: none !important;
        clear: both;
        text-align: left;
        padding-left: 10px;
    }
    #menu ul li a:hover{
        background: none !important;
    }
    #LatestVideo iframe{
        width: 150px;
        height: 150px;
        text-align: left;
        margin: 3px;
        float: left;
    }
    #footer{
        width:100%;
        display: table;
    }
    #footer ul,#footer h5{
        padding-left: 10px;
    }
    #footerLeft{
        width: 100%;
        padding-left: 0px;
    }
    #footerCenter{
        width: 100%;
    }
    #footerRight{
        width: 100%;
    }
    #footerFour{
        width: 100%;
    }
    #content #contentLeft{
        border: none;
        margin-left: 0px;
    }
    #icon{
        font-size: 11px;
    }
    #content #contentRight{
        border: none;
        margin: 0px;
        padding: 0px;
    }
    #subBanner{
        height: 130px; 
        background-image: url('../image/sub.1.jpg');
        color: white;
        line-height:290px;
        font-weight: 900;
    }
    #subBanner h4{
        font-size: 20px;
        font-weight: 600;
        padding: 0px;
        position: absolute;
        top: 8%;
        left: 38%;
    }
    
    #form{
        width: 100%;
        height:auto;
        overflow: auto;
        border: none;
        padding-left:0px;
    }
    .logo{
        padding-left: 0px;
        text-shadow: 1px 1px #000000;
    }
    #footerCenter{
        margin-top: 15px;
    }
    .slider-container {
        overflow: hidden;
        position: relative;
        height: 200px !important;
    }
    .slider li {
        height: 200px !important;
        float: left;
    }
    .slider li img {
        width: 100%;
        display: block;
        height: 200px !important;
    }
    #headerLeft img {
        width: 60px;
        height: 60px;
        margin-top: 16px;
    }

    #preloader #loader {
        border: 13px solid #f3f3f3;
        border-radius: 50%;
        border-top: 13px solid #3498db;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: absolute;
        left: 40%;
        top: 40%;
    }
    #loginForm {
        width: auto;
        min-height: 200px;
        height: auto;
        background-color: #eeeeee;
        border: 2px solid #b34646;
        margin: 100px 0px 100px 0px
        }
        #galleryHub img {
            width:65px;
            height:67px;
            float: left;
            margin: 5px 0px 10px 12px;
            border: 2px solid #b34646;
            box-shadow: 4px 4px 4px #3a3434;
            }
}

@media screen and (max-width: 480px) {
    #menu ul li:not(:first-child) {
        display: none;
    }
    #menu a.icon{
        display: block !important;
        color: #00ffff;
        position: relative;
        top: 8px;
        z-index: 1000000;
        float: right;
        margin-right: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
    }
    .responsivemenu li{
        display: block !important;
    } 
    

#enquiryPopupBtn {
    position: ABSOLUTE;
    left: 63px;
    top: 7%;
    z-index: 100000;
    background: none; 
    border: none;
    color: #eee;
    cursor: pointer;
   }
   #enquiryPopupBtn a {
    text-decoration: none;
    color: #eeeeee;
    padding: 5px 10px;
    background: rgb(6, 68, 6);
    position: absolute;
    border-radius: 10px;
    letter-spacing: 0px;
    font-size: 9px;
    }
    #loginPopupBtn {
        position: absolute;
        top:11%;
        z-index: 100000;
        background: none;
        border: none;
        color: #eee;
        cursor: pointer;
        letter-spacing:1px;
        left:64px;
       }
       #loginForm {
        width: 87%;
        min-height: 200px;
        height: auto;
        background-color: #eeeeee;
        border: 2px solid #b34646;
        left:6px;
        top: 42px;
        }
        #enquiryForm {
            width:87%;
            min-height: 200px;
            height: auto;
            background-color: #eeeeee;
            border: 2px solid #b34646;
            position: absolute;
            left: 6px;
            top:45px;
           }
           #registrationForm{
               width: 90%;
           }

#loginPopupBtn a {
    text-decoration: none;
    color: #eeeeee;
    padding: 5px 10px;
    background: red;
    position: absolute;
    border-radius: 10px;
    font-size: 10px
    }
    

#arrowup {
    position: fixed;
    bottom: 16px;
    background-color: grey;
    border: none;
    color: #eee;
    right: 25px;
    font-size: 20px;
    z-index: 1000;
    cursor: pointer;
    }
    #homeGallery img {
        width: 70px;
        height: 89px;
        float: left;
        margin: 5px -1px 10px 9px;
        border: 2px solid #b34646;
        box-shadow: 4px 4px 4px #3a3434;
        }
        #LatestVideo iframe{
            width: 72px;
            height: 70px;
            text-align: left;
            margin-left: 9px;
            margin-top: 10px;
        }
}